<div class="panel panel-default" ng-controller="ListController">
  <div class="navbar navbar-info">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Angular Starter</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="list in lists">
        <div class="row-action-primary">
          <img class="img-circle" ng-src="{{list.image}}">
        </div>
        <div class="row-content">
          <div class="least-content" ui-sref="listview">{{list.time}}</div>
          <h4 class="list-group-item-heading">{{list.heading}}</h4>

          <p class="list-group-item-text">{{list.description}}</p>
        </div>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>
